.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #f2f2f2;
  border-bottom: 1px solid #ddd;
  flex-wrap: nowrap;
  box-shadow: rgba(0, 0, 75, 0.15) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header-left {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.header-title {
  font-size: 22px;
  font-weight: bold;
  white-space: nowrap;
  font-family: "Roboto Slab", serif;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 16px;
}

@media (max-width: 768px) {
  .header-title {
    font-size: 19px;
  }
}
